extends ./template.jade

block content
  #myContent.container(style='padding-top:150px')
    .row
      .col-sm-4.col-sm-push-4
        form#detailsForm(role='form' action="/accountDetailsModify")
          .form-group
            label(for='firstName') First Name:
            input#firstName.form-control(type='text', name="firstName" value='#{name.first}')
          .form-group
            label(for='lastName') Last Name:
            input#lastName.form-control(type='text', name="lastName" value='#{name.last}')
          .form-group
            label(for='email') Email:
            input#email.form-control(type='text', name="email" value='#{email}')
            input#csrfToken(type="hidden", name="_csrf", value="#{csrfToken}")
          button#detailsSubmit.btn.btn-default(type='submit') Submit

block scripts
  script(src="/assets/scripts/Account.js")