extends ./template.jade

block content
  #myContent.container
    .row
      .col-md-4.col-md-push-4
        ul.list-group
          li.list-group-item Name: #{name}
          li.list-group-item Email: #{email}
          li.list-group-item Username: #{username}
        a.btn.btn-default(href="/accountDetailsModify") Update
