extends ./template.jade

block content
  #myContent.container(style='padding-top:150px')
    .row
      .col-sm-4.col-sm-push-4
        form(role='form')
          .form-group
            label(for='firstName') First Name:
            input#firstName.form-control(type='text', value='#{name.first}')
          .form-group
            label(for='lastName') Last Name:
            input#lastName.form-control(type='text', value='#{name.last}')
          .form-group
            label(for='email') Email:
            input#email.form-control(type='text', value='#{email}')
          button.btn.btn-default(type='submit') Submit
