extends ./template.jade

block content
  #myContent.container(style='padding-top:150px')
    .row
      .col-sm-4.col-sm-push-4
        form#signupForm(role='form' action="/signup", method="POST")
          .form-group
            label(for='username') Username:
            input#username.form-control(type='text')
          .form-group
            label(for='pass') Password:
            input#pass.form-control(type='password')
          .form-group
            label(for='pass2') Confirm Password:
            input#pass2.form-control(type='password')
          button#signupSubmit.btn.btn-default(type='submit') Submit
