doctype html
extends ./template.jade

block content
  #myContent.container
    .row
      .col-md-4.col-md-push-4
        form#loginForm(role='form' action="/login")
          .form-group
            label(for='username') Username:
            input#username.form-control(type='text' name="username")
          .form-group
            label(for='pass') Password:
            input#pass.form-control(type='password' name="pass")
          button#loginSubmit.btn.btn-default(type='submit') Submit
    .row
      .col-md-4.col-md-push-4
        h4 First time user? 
          a(href="/signup") Sign Up.

block append scripts
  script(src="/assets/scripts/Account.js")