doctype html
html(lang='en', xmlns='http://www.w3.org/1999/xhtml')
  head
    meta(charset='utf-8')
    title

    block bootstrap
      // Latest compiled and minified CSS
      link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
      // Optional theme
      link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css')
  body
    input#csrfToken(type="hidden", name="_csrf", value="#{csrfToken}")
    header#customHeader.navbar.navbar-custom(style="display:block")
      .container
        nav
          .container-fluid
            .navbar-header
              a.navbar-brand(href='/home')
                img(alt='Brand', src='assets/img/PackifyLogo.png', width='100', height='100')
          .collapse.navbar-collapse
            ul.nav.navbar-nav.navbar-right
              li.dropdown.dropdown-custom
                if username
                  a.dropdown-toggle(href='#', data-toggle='dropdown', role='button')
                    | #{username}
                    span.caret
                else
                  a.dropdown-toggle(href='#', data-toggle='dropdown', role='button')
                    | Account
                    span.caret
                ul.dropdown-menu
             
                  if username
                    li
                      a(href='/logout') Log out
                    li
                      a(href='#') Trips
                    li
                      a(href='/accountDetails') Account
                  else
                    li
                      a(href='/login') Sign In
                    li
                      a(href='/signup') Sign up
           
    block content
      #myContent.container(style='padding-top:150px')   

    block error
      .row(style="position:fixed; bottom: 0; width:100%")
        #errorDisplay.alert.alert-danger.col-md-4.col-md-push-4
          span#errorMessage
          button#closeError.close(type="button")
            span &times;

    block jquery
      // Latest compiled and minified JavaScript
      script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
      script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')

    block scripts
      script(src="/assets/scripts/ErrorHandler.js")

